---
import { getLangFromUrl, useTranslation } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { t } = useTranslation(lang);
---

<p class="font-semibold whitespace-pre-line text-zinc-800">
  {t("about.me-text")}
</p>
