---
type Props = {
  id?: string;
  scrollMargin?: string;
};

const { id, scrollMargin = "4.5rem" } = Astro.props;
---

<div
  class="mb-10 h-min rounded-md bg-zinc-800 bg-linear-to-r from-white/5 via-white/5 to-white/5 px-6 py-2 text-gray-200"
  data-section-id={id}
  style={{ scrollMargin }}
  id={id}
>
  <h2 class="text-center text-2xl font-bold"><slot /></h2>
</div>
